.header-img {

    height: 250px;
    width: 100%;
}

header{
text-align: center;
}



.view-my-library{
    background-color: #06402B;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.view-my-library:hover{
    background-color:#2eb774
}

.smallAlbum{
    height: 100px;
    margin-bottom: 5px;
}

#outsideFilter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#filterObjects{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}



#mostRecent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);


}