.header-img {

    height: 200px;
}

header{
text-align: center;
}

.smallAlbum{
    height: 100px;
    margin-bottom: 5px;
}

#outsideFilter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#filterObjects{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}



#mostRecent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);


}