.header-img {

    height: 250px;
    width: 100%;
}

header{
text-align: center;
}



.view-my-library{
    background-color: #06402B;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;

}

.view-my-library:hover{
    background-color:#2eb774
}

.smallAlbum{
    height: 100px;
    margin-bottom: 5px;
}

#outsideFilter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#filterObjects{
   display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#filterObjects input[type="button"]{
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-family: 'Georgia', serif;
    font-size: 12px;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#filterObjects input[type="button"]:hover {
    background-color: #444;
}



#mostRecent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);


}


  .modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .modal.show{
        display: block;
      opacity: 1;
  }
  /* Modal content box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
  }
